.add_comment_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 500px;
  position: relative; }
  .add_comment_content #add_comment_form {
    width: 100%; }
    .add_comment_content #add_comment_form textarea {
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      width: 100%;
      height: 100px;
      padding: 1rem 1.5rem; }
    .add_comment_content #add_comment_form label {
      margin-left: 1rem; }
      .add_comment_content #add_comment_form label .glyphicon-cd {
        font-size: 3rem;
        cursor: pointer; }
        .add_comment_content #add_comment_form label .glyphicon-cd:hover {
          color: #dd0000 !important; }
    .add_comment_content #add_comment_form .file_input,
    .add_comment_content #add_comment_form input[type="file"] {
      visibility: hidden;
      display: none; }
    .add_comment_content #add_comment_form .invalid_warning {
      height: 2rem;
      margin-bottom: 5px;
      margin-left: 5px;
      color: #ccc; }
    .add_comment_content #add_comment_form .invalid_warning_hidden {
      height: 2rem;
      margin-bottom: 5px; }
  .add_comment_content .submit_form_button {
    display: flex;
    align-items: center;
    width: 35%;
    min-width: 173px; }
  .add_comment_content .preview_audio_controls_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    width: 64%; }
    .add_comment_content .preview_audio_controls_wrapper .audio_nav {
      width: 35%;
      min-width: 108px; }
      .add_comment_content .preview_audio_controls_wrapper .audio_nav #play_button {
        padding-top: 3px;
        margin-bottom: -3px;
        font-size: 2.25rem;
        display: none;
        visibility: hidden;
        cursor: pointer; }
        .add_comment_content .preview_audio_controls_wrapper .audio_nav #play_button span:hover {
          color: #dd0000 !important; }
      .add_comment_content .preview_audio_controls_wrapper .audio_nav #pause_button {
        padding-top: 3px;
        margin-bottom: -3px;
        font-size: 2.25rem;
        display: none;
        visibility: hidden;
        cursor: pointer; }
        .add_comment_content .preview_audio_controls_wrapper .audio_nav #pause_button span:hover {
          color: #dd0000 !important; }
      .add_comment_content .preview_audio_controls_wrapper .audio_nav #restart_button {
        margin-left: 12px;
        padding-top: 3px;
        margin-bottom: -3px;
        font-size: 2.25rem;
        display: none;
        visibility: hidden;
        cursor: pointer; }
        .add_comment_content .preview_audio_controls_wrapper .audio_nav #restart_button span:hover {
          color: #dd0000 !important; }
    .add_comment_content .preview_audio_controls_wrapper #mini_visualizer {
      height: 100%;
      width: 65%; }
    .add_comment_content .preview_audio_controls_wrapper canvas#mini_canvas {
      width: 100%;
      height: 100%;
      margin-top: 0; }
  @media screen and (max-width: 547px) {
    .add_comment_content .preview_audio_controls_wrapper {
      margin-top: 10px;
      width: 100%; }
      .add_comment_content .preview_audio_controls_wrapper .audio_nav {
        width: 26%;
        min-width: 105px; }
      .add_comment_content .preview_audio_controls_wrapper #mini_visualizer {
        min-width: 74%;
        width: 100%; } }
