.carousel_img {
    height: 100vh;
    &.guitar {
        background-image: url("../assets/guitar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.jungle_mixer {
        background-image: url("../assets/jungle_mixer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.jam_session {
        background-image: url("../assets/jam_session.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.violin {
        background-image: url("../assets/violin.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.kid_song {
        background-image: url("../assets/kid_song.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.carousel-caption {
    bottom: 38% !important;
    // border: solid white 1px;
    background-color: rgba(110, 110, 110, 0.4);
    width: 100%;
    left: 0% !important;
    right: 0% !important;
    padding: 50px 0 60px !important;
    h3 {
        color: #fff !important;
        font-size: 4rem;
    }
    p {
        color: #fff !important;
        font-size: 1.75rem;
    }
}
.carousel-control {
    display: none;
    visibility: hidden;
}
