.carousel_img {
  height: 100vh; }
  .carousel_img.guitar {
    background-image: url("../assets/guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .carousel_img.jungle_mixer {
    background-image: url("../assets/jungle_mixer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: contrast(90%); }
  .carousel_img.jam_session {
    background-image: url("../assets/jam_session.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .carousel_img.violin {
    background-image: url("../assets/violin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .carousel_img.kid_song {
    background-image: url("../assets/kid_song.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.carousel-caption {
  bottom: 35% !important;
  background-color: rgba(110, 110, 115, 0.4);
  width: 100%;
  left: 0% !important;
  right: 0% !important;
  padding: 50px 0 60px !important; }
  .carousel-caption h3 {
    color: #fff !important;
    font-size: 4rem; }
  .carousel-caption p {
    color: #fff !important;
    font-size: 1.95rem; }

.carousel-control {
  display: none;
  visibility: hidden; }
