.collaborators.row {
    .list {
        margin-top: 20px;
        .list_item {
            margin-bottom: 20px !important;
            h5 {
                font-size: 1.5rem;
            }
        }
    }
    .list_item,
    .info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .list_item > .buttons {
        width: 100%;
        text-align: right;
    }
    .img_wrapper {
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .info img {
        border-radius: 20%;
        width: 128px;
        height: 128px;
    }
    @media screen and (max-width: 768px) {
        .list_item {
            width: 46% !important;
            margin: 0 2% !important;
        }
    }

    @media screen and (min-width: 768px) {
        .list_item {
            width: 31% !important;
            margin: 0 1% !important;
        }
    }

    @media screen and (min-width: 1200px) {
        .list_item {
            width: 23% !important;
            margin: 0 1% !important;
        }
    }
}
