.comments_list_wrapper .list .list_item {
  align-items: flex-start;
  flex-wrap: wrap;
  cursor: default; }
  .comments_list_wrapper .list .list_item:hover {
    background-color: transparent !important; }
  .comments_list_wrapper .list .list_item .text_wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%; }
    .comments_list_wrapper .list .list_item .text_wrapper img {
      width: 60px;
      border-radius: 20%;
      margin-right: 10px; }
    .comments_list_wrapper .list .list_item .text_wrapper p {
      padding-top: 0 !important;
      width: calc(100% - 130px); }
    .comments_list_wrapper .list .list_item .text_wrapper .utils {
      width: 50px;
      display: flex;
      justify-content: space-between; }
      .comments_list_wrapper .list .list_item .text_wrapper .utils .promoted {
        color: orange !important; }
      .comments_list_wrapper .list .list_item .text_wrapper .utils .glyphicon-pushpin:hover {
        color: orange !important; }
      .comments_list_wrapper .list .list_item .text_wrapper .utils .glyphicon {
        font-size: 2rem;
        cursor: pointer; }
  .comments_list_wrapper .list .list_item .audio_wrapper {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center; }
    .comments_list_wrapper .list .list_item .audio_wrapper .audio_nav {
      width: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }
    .comments_list_wrapper .list .list_item .audio_wrapper #comment_item_play_button,
    .comments_list_wrapper .list .list_item .audio_wrapper #comment_item_pause_button {
      position: static;
      cursor: pointer;
      margin-left: 0px;
      border-radius: 0;
      border: none; }
      .comments_list_wrapper .list .list_item .audio_wrapper #comment_item_play_button .glyphicon,
      .comments_list_wrapper .list .list_item .audio_wrapper #comment_item_pause_button .glyphicon {
        font-size: 2rem !important; }
    .comments_list_wrapper .list .list_item .audio_wrapper .track_bar_wrapper {
      width: calc(100% - 50px);
      margin-left: 30px;
      top: 5px; }
