$blue: rgb(51, 113, 214);

.comments_list_wrapper {
    .list {
        .list_item {
            align-items: flex-start;
            flex-wrap: wrap;
            cursor: default;
            .text_wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                img {
                    width: 60px;
                    border-radius: 20%;
                }
                p {
                    padding-top: 0 !important;
                    width: calc(100% - 60px);
                }
            }
            .audio_wrapper {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                > div:nth-child(2) {
                    width: 100%;
                    height: 100%;
                    padding-top: 10px;
                    canvas {
                        width: 100%;
                        height: 100%;
                    }
                }
                .audio_nav {
                    width: 75px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                }
                #play_button,
                #pause_button,
                #rewind_button {
                    cursor: pointer;
                    font-size: 1.5rem;
                    margin-left: 6px;
                }
            }
        }
    }
}
