.list .list_item {
  border: solid #ccc 1px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0; }
  .list .list_item:hover {
    background-color: #eee;
    cursor: pointer; }
  .list .list_item .label {
    color: #555;
    font-size: 1.25rem; }
  .list .list_item h5 {
    font-size: 1.75rem;
    display: flex;
    align-items: center; }
    .list .list_item h5 .glyphicon {
      font-size: 1.9rem;
      margin: 0 12px 0 0; }
    .list .list_item h5 img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border-radius: 20%; }
  .list .list_item p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem; }
