* {
    box-sizing: border-box;
    color: #222;
    letter-spacing: 0.07rem;
    font-weight: 300 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    background-color: rgb(251, 251, 251);
    height: 100vh;
    overflow: scroll;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}

.display_none,
#hidden,
.hidden {
    visibility: hidden;
    display: none;
}

.main_content {
    padding-top: 55px;
    min-height: 100vh;
    &.workspace {
        margin-top: 60px;
    }
}

@import 'nav.scss';
@import 'home.scss';
@import 'login.scss';
@import 'carousel.scss';
@import 'profile.scss';
@import 'profile_bio.scss';
@import 'profile_details.scss';
@import 'profile_details_nav.scss';
@import 'workspace.scss';
@import 'workspace_nav.scss';
@import 'users.scss';
@import 'list.scss';
@import 'comments_list.scss';
@import 'add_comment.scss';
@import 'collaborators.scss';
@import 'invites.scss';
@import 'upload_track_button.scss';
@import 'track_bar.scss';
@import 'artist.scss';
