.nav.navbar.navbar-inverse {
  margin-bottom: 0; }

.logo.navbar-brand {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white !important;
  font-size: 2.5rem;
  letter-spacing: 0.08rem; }
  .logo.navbar-brand img {
    width: 38px;
    margin: 0 10px 7px 5px; }

.nav .glyphicon {
  height: 100%;
  font-size: 2.25rem;
  color: #dd0000 !important;
  margin-top: 13px;
  position: absolute;
  cursor: pointer; }

@media screen and (max-width: 767px) {
  .navbar-header .glyphicon.collapsed {
    position: absolute;
    right: 70px; } }

@media screen and (min-width: 768px) {
  .navbar-header .glyphicon {
    display: none;
    visibility: hidden; } }

.nav.navbar-nav.navbar-right {
  text-align: right;
  position: relative; }
  @media screen and (max-width: 767px) {
    .nav.navbar-nav.navbar-right .glyphicon.open {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 767px) {
    .nav.navbar-nav.navbar-right .glyphicon.open {
      display: inline;
      visibility: visible;
      left: -25px; } }

.btn-margin {
  margin: 7px 10px; }
  .btn-margin:last-child {
    margin-right: 0; }

ul.nav a,
ul.nav button {
  background-color: transparent;
  color: #9d9d9d;
  border-color: #9d9d9d; }
  ul.nav a.alive, ul.nav a:focus,
  ul.nav button.alive,
  ul.nav button:focus {
    border-color: #dd0000;
    color: whitesmoke;
    background-color: transparent !important;
    outline: 0 !important; }
  ul.nav a:hover, ul.nav a:active,
  ul.nav button:hover,
  ul.nav button:active {
    background-color: #dd0000 !important;
    color: whitesmoke !important;
    border-color: #dd0000 !important;
    outline: 0 !important; }
