$red: rgb(221, 0, 0);
$white: rgb(245, 245, 245);

.nav.navbar.navbar-inverse {
    margin-bottom: 0;
}
.logo.navbar-brand {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // text-align: center;
    // height: 100%;
    // border: solid blue 3px;
    color: white !important;
    img {
        width: 38px;
        margin: 0 10px 0 5px;
    }
}

.nav.navbar-nav.navbar-right {
    text-align: right;
}
.btn-margin {
    margin: 7px 10px;
    &:last-child {
        margin-right: 0;
    }
}
ul.nav {
    button {
        background-color: transparent;
        color: #9d9d9d;
        border-color: #9d9d9d;
        &.alive,
        &:focus {
            border-color: $red;
            color: $white;
            background-color: transparent !important;
            outline: 0 !important;
        }
        &:hover,
        &:active {
            background-color: $red !important;
            color: $white !important;
            border-color: $red !important;
            outline: 0 !important;
        }
    }
}
