$red: rgb(221, 0, 0);

.details_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    p {
        margin: 0;
        padding: 5px 10px;
        cursor: pointer;
        &.active {
            border-bottom: solid 2px $red;
        }
        &.inactive {
            color: #777;
            .count {
                color: #777;
            }
        }
        .count {
            background-color: #dedede;
            padding: 1px 5px;
            border-radius: 40%;
            margin: 0 0 0 5px;
            color: #555;
            font-size: 1.2rem;
        }
    }
}
.profile {
    .details_nav {
        display: flex;
        justify-content: space-between;
        .links {
            justify-content: flex-start;
        }
        .stripe_pay {
            span {
                button {
                    color: #fff;
                    background-color: transparent;
                    border-color: #d43f3a;
                    cursor: pointer;
                    &:hover {
                        background-color: darken(#d9534f, 13%);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .details_nav {
        border-top: solid 1px #ccc;
        padding-top: 10px;
        justify-content: flex-end;
        margin: 0 10px;
    }
}

@media screen and (max-width: 550px) {
    .details_nav {
        flex-wrap: wrap;
        .links {
            width: 100%;
        }
        .stripe_pay {
            width: 100%;
            text-align: right;
            margin-top: 10px;
        }
    }
}
