.profile .details {
  margin: 20px 0 0 0; }

@media screen and (max-width: 768px) {
  .profile .details {
    padding: 0; }
    .profile .details .projects,
    .profile .details .followers {
      margin: 0 15px; }
      .profile .details .projects .list .list_item,
      .profile .details .followers .list .list_item {
        flex-wrap: wrap;
        display: flex; }
        .profile .details .projects .list .list_item h5,
        .profile .details .followers .list .list_item h5 {
          white-space: nowrap;
          width: 100%; }
        .profile .details .projects .list .list_item p,
        .profile .details .followers .list .list_item p {
          width: 100%;
          justify-content: flex-end; } }
