.profile {
    .avatar {
        border-radius: 20%;
        height: 90px;
        width: 90px;
    }
    .projects h3,
    .friends h3 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .projects,
    .friends {
        .header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }
}
