.profile {
    .details {
        margin: 20px 0 0 0;
    }
    @media screen and (max-width: 768px) {
        .details {
            padding: 0;
            .projects,
            .friends {
                margin: 0 15px;
                .list {
                    .list_item {
                        flex-wrap: wrap;
                        display: flex;
                        h5 {
                            white-space: nowrap;
                            width: 100%;
                        }
                        p {
                            width: 100%;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}
