.details_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .details_nav .links {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .details_nav p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer; }
    .details_nav p.active {
      border-bottom: solid 2px #dd0000; }
    .details_nav p.inactive {
      color: #777; }
      .details_nav p.inactive .count {
        color: #777; }
    .details_nav p .count {
      background-color: #dedede;
      padding: 1px 5px;
      border-radius: 40%;
      margin: 0 0 0 5px;
      color: #555;
      font-size: 1.2rem; }

.profile .details_nav {
  display: flex;
  justify-content: space-between; }
  .profile .details_nav .links {
    justify-content: flex-start; }

@media screen and (max-width: 768px) {
  .details_nav {
    border-top: solid 1px #ccc;
    padding-top: 10px;
    justify-content: flex-end;
    margin: 0 10px; } }

@media screen and (max-width: 550px) {
  .details_nav {
    flex-wrap: wrap; }
    .details_nav .links {
      width: 100%; }
    .details_nav .stripe_pay {
      width: 100%;
      text-align: right;
      margin-top: 10px; } }
