.profile .bio {
  border: solid orange 3px; }
  .profile .bio .avatar_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border: solid green 3px; }
    .profile .bio .avatar_wrapper img {
      height: 100%;
      width: 100%; }
  .profile .bio h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem; }
  .profile .bio h3 {
    font-size: 1.75rem;
    margin-top: 0;
    color: #555; }
  .profile .bio .groups {
    display: flex;
    flex-wrap: wrap; }
    .profile .bio .groups .group {
      position: relative;
      display: flex;
      margin: 0 5px; }
      .profile .bio .groups .group img {
        width: 50px;
        height: 50px; }
      .profile .bio .groups .group .group_name {
        visibility: none;
        display: none;
        z-index: 100;
        margin: 0;
        padding: 2px 3px;
        border-radius: 4px; }
      .profile .bio .groups .group img:hover + .group_name {
        background-color: #777;
        color: white;
        position: absolute;
        bottom: 100%;
        left: -50%;
        visibility: visible;
        display: inline-block;
        white-space: nowrap; }
