.profile .avatar {
  border-radius: 20%;
  height: 90px;
  width: 90px; }

.profile .projects h3,
.profile .followers h3 {
  margin-top: 25px;
  margin-bottom: 15px; }

.profile .projects .header,
.profile .followers .header {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
