$red: rgb(221, 0, 0);

.profile {
    .bio {
        .avatar_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .user_info {
            padding-left: 10px;
            p {
                margin-right: 10px;
            }
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.75rem;
            margin-top: 20px;
            color: #555;
        }
        .groups {
            display: flex;
            flex-wrap: wrap;
            .group {
                position: relative;
                display: flex;
                margin: 5px;
                cursor: pointer;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 30%;
                }
                .group_name {
                    visibility: none;
                    display: none;
                    z-index: 100;
                    margin: 0;
                    padding: 2px 3px;
                    border-radius: 4px;
                }
                img:hover + .group_name {
                    background-color: #777;
                    color: white;
                    position: absolute;
                    bottom: 100%;
                    left: -50%;
                    visibility: visible;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .bio {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            .top-left {
                display: flex;
            }
            .avatar_wrapper {
                width: 25%;
                min-width: 150px;
                padding: 10px;
                margin-right: 0px;
                img {
                    height: auto;
                }
            }
            .user_info {
                width: 75%;
                max-width: 75%;
                margin-left: 0px;
            }
            .groups_wrapper {
                width: 100%;
            }
        }
    }
}
