.profile {
    .details {
        border: solid red 4px;
    }
    @media screen and (max-width: 768px) {
        .details {
            padding: 0;
            .projects,
            .friends {
                margin: 0 15px;
            }
        }
    }
}
