.profile .details .details_nav {
  display: flex;
  align-items: center; }
  .profile .details .details_nav p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer; }
    .profile .details .details_nav p.active {
      border-bottom: solid 2px red; }
    .profile .details .details_nav p.inactive {
      color: #777; }
      .profile .details .details_nav p.inactive .count {
        color: #777; }
    .profile .details .details_nav p .count {
      background-color: #dedede;
      padding: 1px 5px;
      border-radius: 40%;
      margin: 0 0 0 5px;
      color: #555;
      font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  .profile .details .details_nav {
    border-top: solid 1px #ccc;
    padding-top: 10px;
    justify-content: flex-end;
    margin: 0 10px; } }
