.upload_track_button {
  display: flex;
  align-items: center; }
  .upload_track_button label {
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .upload_track_button label span {
      font-size: 2.75rem;
      padding-bottom: 2px;
      cursor: pointer; }
      .upload_track_button label span:hover {
        color: rgba(221, 0, 0, 0.8) !important; }
  .upload_track_button #loading_wrapper {
    display: none;
    visibility: hidden;
    border: solid #ccc 1px;
    margin-left: 20px;
    height: 8px;
    width: 200px; }
    .upload_track_button #loading_wrapper #status_bar {
      width: 0px;
      height: 100%;
      background-color: #ccc; }
