$red: rgba(221, 0, 0, .8);

.workspace {
    .audio_wrapper {
        position: relative;
        text-align: center;
        > .audio_nav {
            .glyphicon:hover,
            .play_button:hover,
            .pause_button:hover {
                color: $red !important;
            }
            .play_button,
            .pause_button,
            .restart_button {
                display: flex;
                justify-content: center;
                position: absolute;
                align-items: center;
                cursor: pointer;
                opacity: 0.7;
            }
            .play_button,
            .pause_button {
                border: solid white 3px;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                left: 10px;
                bottom: 30px;
                .glyphicon-play,
                .glyphicon-pause {
                    font-size: 3rem;
                    margin-left: 5px;
                    margin-bottom: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .restart_button {
                bottom: 23px;
                font-size: 2rem;
                left: 58px;
            }
        }
    }
    canvas#analyzer {
        width: 100%;
        height: 220px;
        margin-top: 55px;
    }
    .audio_trackbar {
        width: 100%;
        max-width: 800px;
        height: 11px;
        border: solid 1px #aaa;
    }
    .details_nav {
        margin-top: 10px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-top: solid 1px #ccc;
    }
}

.dark_theme {
    background-color: #444;
}

.light_theme,
.dark_them {
    background-color: #444;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        color: #eee !important;
    }
    .glyphicon {
        color: #eee;
    }
    .count {
        color: #222 !important;
        font-weight: 400 !important;
    }
    h3 {
        font-weight: 400 !important;
        letter-spacing: 0.08rem;
    }
    h5.title {
        font-weight: 400 !important;
    }
    .list_item:hover {
        background-color: #333 !important;
    }
    .glyphicon-user,
    .glyphicon-music {
        color: #111 !important;
    }
}
