.workspace_nav {
  position: fixed;
  height: 57px;
  width: 100%;
  top: 51px;
  left: 0;
  background-color: #222;
  border-bottom: solid 1px #101010;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .workspace_nav .container {
    display: flex;
    align-items: center;
    height: 100%; }
    .workspace_nav .container .workspace_utils_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%; }
    .workspace_nav .container .util_buttons_wrapper {
      display: flex;
      align-items: center; }
  .workspace_nav p,
  .workspace_nav input {
    color: white;
    border: none;
    padding: 3px 12px;
    width: 172px;
    letter-spacing: 0.08rem; }
  .workspace_nav p {
    border-bottom: solid 1px rgba(221, 0, 0, 0.5); }
  .workspace_nav input {
    outline: 0;
    background-color: #222;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15); }
  .workspace_nav .glyphicon-cloud-upload,
  .workspace_nav .glyphicon-trash,
  .workspace_nav .glyphicon-user,
  .workspace_nav .glyphicon-cd,
  .workspace_nav .glyphicon-download-alt {
    color: white !important;
    cursor: pointer;
    font-size: 1.75rem;
    margin-left: 15px; }
  .workspace_nav .glyphicon-cloud-upload:hover,
  .workspace_nav .glyphicon-user:hover,
  .workspace_nav .glyphicon-cd:hover,
  .workspace_nav .glyphicon-download-alt:hover {
    color: #3371d6 !important; }
  .workspace_nav .glyphicon-trash:hover {
    color: rgba(221, 0, 0, 0.5) !important; }
